*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.container{
    background-color: rgb(196, 226, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.calculator{
    padding: 20px;
    background-color: #3a4452;
    border-radius: 20px;
}
.calculator form input{
    height: 35px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin: 7px;
    background-color: transparent;
color: white;
border: 0;
outline: 0;
box-shadow: #a1c4f5;

}
form .display{

    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    
}
form .display input{

    text-align: right;
    flex: 1;
    font-size: 30px;
    box-shadow: none;
}
.name{
    font-size: 21px;
    color:aqua;
    font-family: cursive;
}